body, html {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

body {
    max-width: 1080px;
    margin: auto;
}

h1 {
    text-align: center;
}

.wheel-container {
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: min(90%, 600px);
    max-width: 600px;
    margin: auto;
    border: 3px solid #555555;
}

.wheel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    /* border: 3px solid gold; */
    transition: transform 0.3s ease;
}

.button-container-1 {
    position: relative;
    margin: 20px 20px 40px;
    display: flex;
    justify-content: center;
    /* border: 3px solid red; */
}

.button-container-2 {
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: center;
    /* border: 3px solid rgb(46, 114, 160); */
}

button {
    z-index: 15;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}